@import "@assets/styles/grid.scss";

.skill__article {
  @include content-grid;

  margin-bottom: 4rem;

  .badges__div {
    position: relative;
    grid-area: badges;
    width: 100%;
    max-width: 400px;
    justify-self: center;
  }

  .title__h3 {
    grid-area: title;
  }

  .description__p {
    grid-area: description;
  }
}
