@import "@assets/styles/grid.scss";
@import "@assets/styles/section.scss";

.skill__section {
  @include content-grid;
  @include section;

  margin-bottom: 4rem;

  .badges__div {
    position: relative;
    grid-area: aside;
    width: 100%;
    max-width: 400px;
    justify-self: center;
  }

  .content__article {
    grid-area: content;
  }
}
