@import "../../../assets/styles/badge.scss";

.infrastructure-skill__article {
  .badges__div {
    height: 200px;
  }

  .kubernetes-badge__img {
    @include badge(0.9);

    left: 20%;
    top: 20%;
  }

  .jenkins-badge__img {
    @include badge(0.8);

    left: 60%;
    top: 50%;
  }

  .gcp-badge__img {
    @include badge(0.8);

    left: 50%;
    top: 60%;
  }

  .linux-badge__img {
    @include badge(0.6);

    left: 50%;
    top: 100%;
  }
}
