@mixin badge($ratio, $base-size: 100px) {
  $badge-size: $ratio * $base-size;

  width: $badge-size;
  height: $badge-size;

  // moving the anchor point to the center
  transform: translate(-50%, -50%);
  position: absolute;
}
