@import "@assets/styles/media.scss";

@mixin content-grid {
  width: 100vw;
  padding: 0 3rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, 2);
  grid-template-areas:
    "aside"
    "content";
  column-gap: 4rem;
  row-gap: 1rem;

  @include for-desktop {
    grid-template-columns: auto minmax(auto, 400px) minmax(auto, 800px) auto;
    grid-template-rows: auto;
    grid-template-areas: ". aside content .";
  }
}
